<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lapin.otakushopukraine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/OtakuTheme">
        <activity android:name=".CatalogActivity"  android:label="Каталог" />
        <activity
            android:name=".ApplicationInfoActivity"
            android:label="Про додаток" />
        <activity
            android:name=".AuthorInfoActivity"
            android:label="Про автора" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashScreenTheme" />
    </application>

</manifest>